NODE_ENV=development
PORT=4425

DATABASE_URL=postgresql://postgres:password@localhost:5432/courier?schema=public
DIRECT_URL=postgresql://postgres:password@localhost:5432/courier?schema=public

JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=1d

WEB_URL=http://localhost:5173

TEST_CASE_GENERATOR_URL=http://100.00.000.000/courier-fastapi/generate